.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.next-link,
.previous-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
}

svg {
  display: block;
  margin-top: 9px;
}

input[type="number"] {
  font-size: 3em;
  width: 100%;
  text-align: center;
}

.CommentsBox {
  width: 100%;
  text-align: left;
}

.send-feedback {
  color: white;
  margin-top: 0px;
}
.table-view {
  display: inline-block;
}

div.Paper {
  display: inline-block;
  padding: 3em;
  background-color: aliceblue;
  width: 30em;
}

.response-input {
  background-color: white;
  display: inline-block;
  width: 20em;
  padding: 1em;
}
.arrow-left, .arrow-right, .send-feedback {
  padding: auto;
}

.restart {
  text-decoration: none;
}

.TableHead {
  background-color: gray;
}

.TableHead th {
  font-size: 1.1em;
  font-weight: bold;
  color: azure;
}

.TableBody tr:nth-child(even) {
  background-color: aliceblue;
}

.TableBody tr:nth-child(odd) {
  background-color: white;
}

.delete-entry svg {
  display: block;
  margin: 0px;
}

.btn svg {
  display: block;
  margin: 0px;
}